.DS_Store
.vagrant
.idea
*.sublime-*
*.swp
*.swo
docs
node_modules
npm-debug.log
site/.nfs0*
site/.sass-cache/
site/.nodemonignore
site/app/templates/**/*.js
site/beaker.docset/Contents/Resources
site/beaker
site/Book
site/browser.reload
site/build/
site/plato
site/config/local-development.json
site/config/local.json
site/config/runtime.json
site/public/beaker.tgz
site/public/css/
site/public/js/
site/server.restart
site/tmp/
site/newrelic_agent.log
site/GeoIPCity.dat
vagrant/*.box
vagrant/output-*
vagrant/packer_cache
vagrant.ssh.config
vagrant_local.json
